<mat-card>
    <mat-card-title>
        New Product
    </mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput placeholder="Product Name" name="name" 
                [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label for="preco">Price</mat-label>
            <input matInput type="number" placeholder="0.00" class="price-input" name="price"
                [(ngModel)]="product.price">
            <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="accent">
        Create
    </button>

    <button mat-raised-button (click)="cancel()" color="warn">
        Cancel
    </button>
</mat-card>