.header {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a.brand {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.header .logo {
    max-height: 50px;
}

.header .title-group a{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header .title-group i {
    padding-right: 5px;
}