<mat-card>
    <mat-card-title>
        Delete Product
    </mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput placeholder="Product Name" name="name" 
                [ngModel]="product.name" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label for="preco">Price</mat-label>
            <input matInput type="number" placeholder="0.00" class="price-input" name="preco"
                [ngModel]="product.price" disabled>
            <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Delete
    </button>

    <button mat-raised-button (click)="cancel()" color="accent">
        Cancel
    </button>
</mat-card>